:root {
  --Moderate-Violet: hsl(263, 55%, 52%);
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Very-Dark-Blackish-Blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light-Gray: hsl(0, 0%, 81%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);

  --ff-primary: 'Barlow Semi Condensed', sans-serif;

  --spacer: 1.5rem;
 
  --br: .5rem;
}




/* For box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Removes default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* List elements */
// ul[role='list'],
// ol[role='list'] {
//   list-style: none;
// }

ul[class],
ol[class] {
  list-style: none;
}

ol {
  padding-left: 0;
}



/*  root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Default styles for elements that do not have a class*/
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Global styling for images*/
img,
picture {
  max-width: 100%;
  display: block;
}

/* inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
  scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

ul {
  padding-left: 0;
}
















